[submodule "lib/Xabbo.Common"]
	path = lib/Xabbo.Common
	url = https://github.com/b7c/Xabbo.Common
[submodule "lib/Xabbo.Core"]
	path = lib/Xabbo.Core
	url = https://github.com/b7c/Xabbo.Core
[submodule "lib/Xabbo.GEarth"]
	path = lib/Xabbo.GEarth
	url = https://github.com/b7c/Xabbo.GEarth